In [1]:
# data analysis and wrangling
import pandas as pd
import numpy as np
import random as rnd

# visualization
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# machine learning

from sklearn import neighbors  

from sklearn.cross_validation import train_test_split

D:\Anaconda3\lib\site-packages\sklearn\cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
data = pd.read_csv('../input/p_vecs.csv')
data.shape

(1307, 3)

In [3]:
data.head()

          p_1         p_2         p_3
0 -616.649000  293.381520  -13.796038
1  293.382900   14.861638 -616.637721
2  339.027573   20.181243 -525.233364
3  339.315597   20.064937 -524.342792
4  318.576770   31.390147 -572.201340

In [4]:
X_train, X_test = train_test_split(data, test_size=0.2)

In [5]:
X_train.shape, X_test.shape

((1045, 3), (262, 3))

In [14]:
print('jjj')

jjj

In [23]:
results = pd.read_csv('../input/tttt.csv')
results.shape

(0, 1)