In [2]:
# data analysis and wrangling
import pandas as pd
import numpy as np
import random as rnd

# visualization
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# machine learning

from sklearn import neighbors  

from sklearn.model_selection import train_test_split

In [3]:
data_train = pd.read_csv('../input/data_train.csv')
data_train.shape

(9472, 9)

In [4]:
data_train.head()

,p1,p2,p3,d1,d2,d3,u1,u2,u3
0,51.389742,17.342563,-26.032430,0.988302,-0.146331,-0.042976,0.146193,0.989236,-0.006357
1,21.363404,4.795427,-17.827987,0.292667,-0.122546,-0.948329,0.036138,0.992463,-0.117097
2,52.438313,17.324718,33.706123,0.188950,-0.228813,-0.954957,0.044413,0.973470,-0.224461
3,149.126049,3.871487,-35.263324,-0.912430,0.349600,0.212725,0.340469,0.936899,-0.079377
4,52.228719,18.455193,40.317173,0.503909,-0.347458,-0.790790,0.186721,0.937696,-0.293023

In [7]:
tmp = np.array(data_train)
print(tmp.shape)
print(type(tmp))
print(tmp)

(9472, 9)
<class 'numpy.ndarray'>
[[  5.13897421e+01   1.73425630e+01  -2.60324300e+01 ...,   1.46193000e-01
    9.89236000e-01  -6.35714000e-03]
 [  2.13634043e+01   4.79542720e+00  -1.78279869e+01 ...,   3.61376000e-02
    9.92463000e-01  -1.17097000e-01]
 [  5.24383133e+01   1.73247184e+01   3.37061234e+01 ...,   4.44125000e-02
    9.73470000e-01  -2.24461000e-01]
 ...,
 [  4.09762463e+01   1.14237550e+01  -5.88591526e+01 ...,   1.40674000e-01
    9.82593000e-01   1.21336000e-01]
 [  4.98369514e+01   2.15495193e+01   6.48562905e+01 ...,   2.93885000e-01
    9.49594000e-01  -1.09097000e-01]
 [  2.46521991e+01   3.13839969e+00   2.65520646e+01 ...,   1.80196000e-03
    9.97326000e-01   7.30576000e-02]]

In [21]:
data_train_p = data_train[['p1','p2','p3']]
print(data_train_p.shape)
data_train_p.head()

(9472, 3)

           p1         p2         p3
0   51.389742  17.342563 -26.032430
1   21.363404   4.795427 -17.827987
2   52.438313  17.324718  33.706123
3  149.126049   3.871487 -35.263324
4   52.228719  18.455193  40.317173

In [22]:
target_train = pd.read_csv('../input/target_train.csv')
target_train.shape

ParserError: Error tokenizing data. C error: Expected 1548 fields in line 3, saw 2089